.thumbnail-1{
    display: block;
    width: 300px;
}

.video-title{
    width: 300px;
}

.video-author{
    width: 300px;
    display: inline-block;
}

.search-bar{
    display: block;
}

.video-preview{
    display: inline-block;
    width: 300px;
    margin-right: 15px;
}

